@import "tailwindcss";

  :root {
    --background: #ffffff;
    --foreground: #171717;
    --font-sans: sans-serif;
    --font-serif: serif;
    --font-mono: monospace;
  }

  html,
  body {
    margin: 0;
    padding: 0;
  }

  body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans);
  }
